<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Create Category Description - Server Size</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <!-- Template Stylesheet -->
  <link href="http://localhost:8080/api/v1/static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <!-- Sidebar -->
  <div th:insert="~{Layout/SileBar :: SileBar}"></div>
  <!-- Main Content Start -->
  <main class="main">
    <div class="recent-orders">
      <h2>Create Category Description</h2>

      <div class="bg-light rounded h-100 p-4 mb-4">
        <!-- Display error or success message -->
        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

        <form th:action="@{/admin/categories/edit/description/{id}(id=${categoriesDescription.id})}" method="post">
         <input type="hidden" name="_method" value="put">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${categoriesDescription.name}" required />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="4" th:text="${categoriesDescription.description}" required></textarea>
          </div>
          <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <input type="text" class="form-control" id="language" name="language" th:value="${categoriesDescription.language}" required />
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-primary">Save</button>
            <a th:href="@{/admin/categories/description}" class="btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>

  <div th:insert="~{Layout/rightsection :: rightsection}"></div>
</div>

<!-- Template Javascript -->
<script src="http://localhost:8080/api/v1/static/js/index.js"></script>
</body>
</html>
